<div class="page-title">New PI</div>
<div class="p-fluid">
  <div class="p-field">
    <label for="pi-name">PI Name</label>
    <input id="pi-name" type="text" [(ngModel)]="newPiName" pInputText autofocus />
  </div>
  <!-- <div class="p-field">
    <label for="template">Template (optional)</label>
    <p-dropdown
      [options]="pis$ | async"
      [(ngModel)]="selectedTemplatePi"
      (onChnage)="onTemplateChange($event)"
      filter="true"
      optionLabel="name"
    >
    </p-dropdown>
  </div>-->
  <div class="p-field">
    <label for="pi-iterations">Iterations</label>
    <p-multiSelect
      id="pi-iterations"
      [options]="iterations$ | async"
      [(ngModel)]="selectedIterations"
      [filter]="true"
      optionLabel="path"
      scrollHeight="350px"
    >
      <ng-template let-value pTemplate="selectedItems">
        <div class="p-chips">
          <span class="p-chips-multiple-container">
            <span class="p-chips-token" *ngFor="let iteration of selectedIterations">
              {{iteration.path}}
            </span>
          </span>
        </div>
      </ng-template>
      <ng-template let-iteration pTemplate="item">
        {{iteration.value.path}} ({{iteration.value.attributes.startDate | date}} -
        {{iteration.value.attributes.finishDate | date}})
      </ng-template>
    </p-multiSelect>
  </div>
  <div class="p-field">
    <label for="pi-teams">Teams</label>
    <p-multiSelect
      id="pi-teams"
      [options]="teams$ | async"
      [(ngModel)]="selectedTeams"
      [filter]="true"
      optionLabel="name"
      scrollHeight="350px"
    >
      <ng-template let-value pTemplate="selectedItems">
        <div class="p-chips">
          <span class="p-chips-multiple-container">
            <span class="p-chips-token" *ngFor="let team of selectedTeams">
              {{team.name}}
            </span>
          </span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
</div>

<p-button
  *ngIf="!saved"
  label="Save"
  (click)="createPi(newPiName, selectedIterations, selectedTeams)"
  title="Save a new PI"
></p-button>
<button
  pButton
  *ngIf="saved"
  label="Open PI Board"
  (click)="openPi(newPiName)"
  class="p-mr-2"
  title="Open Program Board of this just created PI"
></button>
<button
  pButton
  *ngIf="saved"
  label="Go back"
  (click)="goBack()"
  title="Navigate to previous page"
></button>
