<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button [routerLink]="['dashboard']" icon="pi pi-home"></p-button>
  </div>

  <div class="p-toolbar-group-right">
    <button
      *ngIf="!loggedIn"
      pButton
      type="button"
      label="Login"
      styleClass="p-button-sm"
      (click)="login()"
    ></button>
    <button
      *ngIf="loggedIn"
      pButton
      type="button"
      label="Logout"
      styleClass="p-button-sm"
      (click)="logout()"
    ></button>
    {{userName}}
  </div>
</p-toolbar>
