<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button [routerLink]="['dashboard']" icon="pi pi-home"></p-button>
    <p-button
      *ngIf="currentPiName"
      [label]="currentPiName"
      icon="pi pi-chevron-down"
      iconPos="right"
      class="pi-switcher"
      (click)="piSwitcher.toggle($event)"
      title="Select a PI"
    ></p-button>
    <p-menu
      #piSwitcher
      [popup]="true"
      [model]="piMenuItems"
      appendTo="body"
      styleClass="switcher-menu"
    ></p-menu>
  </div>

  <div class="p-toolbar-group-right">
    <button
      *ngIf="!loggedIn"
      pButton
      type="button"
      label="Login"
      styleClass="p-button-sm"
      (click)="login()"
    ></button>
    <button
      *ngIf="loggedIn"
      pButton
      type="button"
      label="Logout"
      styleClass="p-button-sm"
      (click)="logout()"
    ></button>
    {{userName}}
  </div>
</p-toolbar>
