:host {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // justify-content: flex-start;
  // align-content: stretch;
  // align-items: stretch;
  height: 40px;

  ::ng-deep .p-toolbar {
    background-color: #0078d4;
    padding: 0 1rem;
    border: none;
    border-radius: 0;
  }
}


a {
  margin-right: 5px;
}
